
.baggrundsbillede{
    background-image: url("Billeder/baggrundsbillede.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;


}